<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>284332687128-je9h9j3r5gnhojb34j4f6rnu93kgp344.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284332687128-je9h9j3r5gnhojb34j4f6rnu93kgp344</string>
	<key>API_KEY</key>
	<string>AIzaSyAad7NRWVj7HYb6caBCbWV1yOrk37BO49M</string>
	<key>GCM_SENDER_ID</key>
	<string>284332687128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evanbacon.demofirebasemodulesapp</string>
	<key>PROJECT_ID</key>
	<string>expo-demo-2e1be</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-demo-2e1be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284332687128:ios:1dc83e5683e4ed30</string>
	<key>DATABASE_URL</key>
	<string>https://expo-demo-2e1be.firebaseio.com</string>
</dict>
</plist>